
@media screen and (max-width: 960px){
.offer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
    .list2{
        margin-top: 509px;
    }
}
@media screen and (max-width: 1000px){
    .logo{
        margin-left: 4%;
    }
    .global_menu .menu{
        margin-left: 6%;
    }
}
@media screen and (max-width: 800px){
    .logo{
        margin-left: 1%;
    }
    .global_menu .menu{
        margin-left: 3%;
    }
    
}
/*
@media screen and (max-width: 765px){
    hr{
        display: none;
    }
    .text{
        margin-right: 5%;
        margin-left: 5%;
    }

 .icon{
        display: block;
        position: absolute;
        float: right;
        margin-left: 20px;
        right: 6%;
        top: 270px;
        font-size: 25px;
        color: black;
    }
      .global_menu .menu a{
       display: none;
    }
@media screen and (max-width: 760px){
    .adaptive{
    display: f!important;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    right: 170px;
    top: 50px;
    padding-bottom: 5px;
    }
    .adaptive a{
        
}
*/
@media screen and (max-width: 840px){
    .menu a{
       display: none;
    }
    header{
    width: 100%;
    position: static;
}
    .icon{
        display: block;
        position: absolute;
        float: right;
        margin-left: 20px;
        right: 1%;
        top: 330px;
        font-size: 25px 
    }
     .jsFix{
        flex-direction: column;
        align-items: flex-start !important;    
        position: relative;
         padding-left: 3%;
        top: -40px;
        padding-bottom: 120px;
         width: 100%;
         
    }
    .jsFix a{
        display: flex;
        margin-top: 10px;
    }
    .jsFix a:last-child{
        padding-bottom: 50px;
    }

    
    .header_line{
        margin-top: 1px;
    }   

}
@media screen and (max-width: 540px){
    .icon{ 
        top: 230px;
    }
}
@media screen and (max-width: 630px){
    .icon{ 
        top: 250px;
    }
}
@media screen and (max-width: 380px){
     .icon{
        right: 1%;
    }
     .jsFix{
        left: 0px;    
    }
}

@media screen and (max-width: 1000px){

.list2_global_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .right_block{
        justify-content: center;
        margin-left: 0px;
         margin-top: 0px;
    }
    .right_block img{
        width: 100%;
    }

}
@media screen and (max-width: 1087px){
    .list1 .section_icon{
        position: relative;
        top: 30px
    }
}
@media screen and (max-width: 1071px){
    .list1 .section_icon{
        position: relative;
        top: 13px
    }
}
@media screen and (max-width: 956px){
    .list1 .section_icon{
        position: relative;
        top: 16px;
        display: none;
    }
    .list1{
        height: 650px;
    }
}
@media screen and (max-width: 538px){
    .section_icon{
        position: relative;
        top: 27px
    }
}

@media screen and (max-width: 436px){
    .section_icon{
        position: relative;
        top: -21px
    }
    .more_fix{
    padding-bottom: 31px    
    }
    .list2{
        margin-top: 539px;
    }
}
@media screen and (max-width: 900px){
    .list2{
        margin-top: 600px
    }
}

/*Адптацыя для content_left_block*/
@media screen and (max-width: 800px){
    .list2_content_wrapper{
        width: 90%;
    }
}
@media screen and (max-width: 540px){
    .list2_content_wrapper{
        width: 100%;
    }
    .content_left_block{
        margin-left: 20px;
        width: 100%;
    }
    .content_left_block p{
        width: 200%;
    }
    .content_left_block h2{
        width: 200%;
    }
}
@media screen and (max-width: 580px){
    .right_block img{
        width: 90%;
    }
    .right_block{
        width: 100%;
        margin-right: 0px;
    }
}
@media screen and (max-width: 400px){
   .right_block{
        width: 100%;
        margin-right: 0px;
    }
    .right_block img{
        height: 200px
    }
}
@media screen and (max-width: 700px){
    .list2_wrapper_top{
        width: 70%;
    }
}
@media screen and (max-width: 465px){
     .list2_wrapper_top{
        width: 90%;
    }
}
@media screen and (max-width: 380px){
    .list2 h1{
        font-size: 20px;
}
    .list2 .mobil_fix{
        font-size: 15px;
    }
}
@media screen and (max-width: 1200px){
        
    .list3 .global_wrapper{
    max-width: 95%;
    margin: 0 auto;
}
}
@media screen and (max-width: 883px){
    .servis_top,
    .servis_bottom{
    flex-direction: column;
    align-items: center;

    }
    .servis_bottom{
    margin-top: 0px;
    }
    
    .servis_top .text,
    .servis_bottom .text,img{
    margin-top: 40px;      
   
    }
}
@media screen and (max-width: 740px){
    .servis_block{
        width: 80%;
    }
}
@media screen and (max-width: 520px){
    .servis_block{
        width: 95%;
    }
}
@media screen and (max-width: 900px){
    .list1{
        height: 720px
    }
}
@media screen and (max-width: 1300px){
.list4_wrapper{
    width: 90%;
}
}
@media screen and (max-width: 1140px){
  .list4_wrapper{
    width: 95%;  
}
}
@media screen and (max-width: 1140px){
    .lsit4_content{
        flex-direction: column;
}        
    .block_list4{
        margin-left: 0px;
    }
}
@media screen and (max-width: 900px){
    .section_icon2{
        top: -144px;
    }
    }
@media screen and (max-width: 444px){
    .list4 h1{
        font-size: 18px; 
    }
}
    @media screen and (max-width: 1140px){
    .list7 .content{
        display: flex;
        flex-direction: column;
        width: 75%; 
}
    }
    @media screen and (max-width: 1346px){
     .list7 .content{
        display: flex;
        width: 95%; 
}
}
    @media screen and (max-width: 1132px){
    .list8 h1{
        margin-left: 10%;
        margin-right: 8%;
    }
}
    @media screen and (max-width: 1084px){
    .list8 h1{
        margin-left: 5%;
        margin-right: 4%;
    }    
}
    @media screen and (max-width: 921px){
    .list8{
        flex-direction: column; 
        height: 150px;
        text-align: center;    
    }  
    .list8 .input_block{
        margin-top: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 1665px){
    .list9 .wrapper{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
}
@media screen and (max-width: 700px){
    .wrapper_list12{
        flex-direction: column;
        width: 90%;
    }         
    .object{
        margin: 0 auto;
        margin-top: 60px;
        width: 70%;
    }
    .object:last-child{
        margin: 0 auto;
        margin-top: 60px;
}
            
}
@media screen and (max-width: 490px){
    .wrapper_list12{
        flex-direction: column;
        width: 90%;
    }         
    .object{
        margin: 0 auto;
        margin-top: 60px;
        width: 90%;
    }
}
@media screen and (max-width: 1085px){
    .list13 h1{
    margin-left: 9%;
    }
    .list13 a{
    margin-left: 5%;
    }
}
@media screen and (max-width: 885px){
   .list13 h1{
    margin-left: 5%;
    }
    .list13 a{
    margin-left: 2%;
    position: relative;
        top: -19px
    } 
}
@media screen and (max-width: 823px){
    .list13{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 876px){

    .icon-end{
        top: -66px;
}
}
@media screen and (max-width: 460px){
    .list10{
        padding-bottom: 130px;
    }
}

@media screen and (max-width: 600px){

.list15 .contact{
    width: 80%;
    padding-top: 50px;
    margin-left: 15%;
}
.form_contact{
    display: flex;
    flex-direction: column;
    border: 2px solid #efefef;
    height: 300px;
    border-radius: 5px;
    background: #f9f9f9;
    height: 300px;
}
.name,
.email,
.message_contact{
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 20px;
    margin-top: 21px;
}
.message_contact{
    height: 110px;
    
}
.class_button{
    width: 85%;
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 16px;
    padding-bottom: 15px;
    background: #00a99d;
    border-radius: 5px;
}
}
