*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration-line: none;
}
header{
    width: 100%;
}
.global_img{
    min-height: 200px;
}
.global_menu{
    display: flex;  
}
.logo{
    margin-left: 19.5%;
    margin-top: 30px;
    max-width: 200px;
    max-height: 50px;
}
.global_menu .menu{
    margin-left: 16%;
    margin-top: 45px;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}
.global_menu .menu a{
    vertical-align: middle;
    color: #6e6e6e;
    margin-right: 2.2%;
    font-size: 14px;
}
.global_menu .menu a span{
    visibility: hidden;
    position: relative;
}
.icon{
    display: none;
    color: black;
}


.global_menu .menu a:hover{
    position: relative;
    background: #00a99d;
    padding: 2%;
    border-radius: 5px;
    transition: 0.2s;
}

.list1{
    width: 100%;
    text-align: center;
    height: 500px;
    margin-top: 0px;
}
.list1 h1 {
    font-size: 26px;
    font-weight: bolder;
    color: #383838;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.list1 .text{
    font-size: 16px;
    font-weight: 500;
    color: #8a8a8a;
}
.blue{
    color: #00a99d;
}
.wrapper{
    width: 70%;
    margin: 0 auto;
}
.offer{
    display: flex;
    margin-top: 50px;
}

.list1 .block .name{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    color: #606060;
    margin-top: 30px;
}

.list1 .block .description{
    margin-right: 5%;
    margin-top: 25px;
    font-size: 14px;
    color: #7a7a7a;
}

.list1 .block .more{
    color: #8a8a8a;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: ;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list1 .block img{
    width: 100px;
    height: 100px;
}

.list1 .block .more:hover{
   border: 1px solid;
   width: 80px;
   border-radius: 5px;
}
.glabal_line{
    position: relative;
    top: 22px;
    max-width: 100%;
}
.section_icon{
    position: relative;
    top: 92px;
}
.list2{
    margin-top: 22px;
    padding-top: 80px;
    background: #383838;
    width: 100%;
}
.list2 h1{
    text-transform: uppercase;
    font-size: 26px;
    color: #e4e4e4;
}
.list2 p{
    font-size: 16px;
    color: #606060;
    font-weight: 500;
}
.list2 h1 span{
     color: #00a99d;     
}
.list2_wrapper_top{
    width: 53.2%;
    margin: 0 auto;
    text-align: center;
}
.list2_content_wrapper{
    width: 61%;
    margin: 0 auto;
    
}
.left_blocks{
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-top: 95px;
}
.content_left_block img{
    margin-bottom: 100px;
}
.content_left_block:last-child{
    margin-bottom: -20px;
}

.content_left_block h2{
    position: relative;
    left: 34px;
    bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #e4e4e4;
}
.content_left_block p{
    position: relative;
    top: 7px;
    left: 34px;
    width: 290px;
    font-size: 14px;
    font-weight: 500;
    color: #7a7a7a;
}
.list2_global_content{
    display: flex;
}
.right_block{
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: -5px;
 
}
.left_right_h1:first-child{
    position: relative;
    right: 20px;
}
.left_right_h1:last-child{
    position: relative;
    right: -20px;
}